.shadow-button {
    background-color: rgb(10, 163, 10);
    border: none;
    color: white;
    font-size: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 9px;
    padding-right: 9px;
    
    cursor: pointer;
    box-shadow: 1px 1px 1px rgb(179, 179, 179);


}
.shadow-button:active {
    background-color: rgb(10, 163, 10);
    margin-top: 1px;
    margin-left: 1px;
    box-shadow: none;
    cursor: pointer;
}