  p {
    font-family: Montserrat;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
  }
  .model-paragraph {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .touch-span {
    text-decoration: underline;
  }