p {
    font-size: 18px;
    font-family: Arial;
    margin-bottom: 0;
    margin-top: 0;
}
.amount {
    font-size: 30px;
    margin-bottom: 7px;
}
.usd-span {
    font-size: 15px;
    color: rgb(70, 68, 68);
}
.interest {
    color: green;
    margin-bottom: 7px;
}
.time-period {
    color: rgb(70, 68, 68);
}
.deflation {
    color: rgb(204, 8, 8);
}