.back-button {
    background-color: white;
    border-width: thin;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 7px;
    padding-right: 7px;
    margin-right: 7px;
    cursor: pointer;
}
.page-1 {
    margin-right: 5px;
    display: inline-block;
}
.page-2 {
    margin-right: 5px;
    display: inline-block;
}
.page-3 {
    margin-right: 5px;
    display: inline-block;
}
.page-4 {
    margin-right: 5px;
    display: inline-block;
}
.page-5 {
    margin-right: 5px;
    display: inline-block;
}
.next-button {
    background-color: white;
    border-width: thin;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 7px;
    padding-right: 7px;
    margin-right: 7px;
    cursor: pointer;
}