.get-started-button {
    color: white;
    background-color: rgb(145, 117, 189);
    width: 100px;
    height: 35px;
    border: none;
    font-size: 13px;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
    transition: background-color 0.15s;
}
.get-started-button:hover {
    background-color: rgb(84, 40, 126)
}
.download-button {
    color: rgb(108, 117, 125);
    background-color: white;
    border-color: rgb(108, 117, 125);
    border-style: solid;
    width: 100px;
    height: 35px;
    font-size: 13px;
    font-weight: bold;
    border-radius: 4px;
    border-width: 1px;
    cursor: pointer;
    transition: background-color 0.15s, color 0.15s;
}
.download-button:hover {
    background-color: rgb(108, 117, 125);
    color: white;
}